h1{
    padding-left: 350px;
    font-size: 50px;
}
body {  margin: 24px auto;
    width: 1200px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 24px;
    background-color: #97572b;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    box-shadow: 10px 10px 10px #999; /* x, y, blur, color */
}

.video{
    padding-left: 310px;
    padding-top:10px;
    padding-bottom:10px;
    
}

/* Phone Size */
@media all and (min-width: 21.25rem){
    h1 { color: black; padding: auto; }
    body { min-width: 340px; margin: 0rem auto; background-color: white; border-radius: 5px; font-weight: bold; }
  }        

/* Table Size */
  @media all and (min-width: 31.25rem){
    h1 { color: white; padding: auto; background-color: black; }
    body { min-width: 340px; margin: 0rem auto; background-color: #98ff98; border-radius: 10px;  box-shadow: 10px 10px 10px red; }
  }  

/* Full Web Size */
  @media all and (min-width: 56.25rem){
    h1 { color: #E5D3B3; padding: auto; }
    body { max-width: 960px; margin: 0rem auto; background-color: #97572b; border-radius: 15px; box-shadow: 10px 10px 10px white }
  }  